@import "_vars";

.career__item {
	text-align: right;
	margin-bottom: 20px;

	&:first-child {
		.career__block {
			&:before {
				display: none;
			}
		}
	}

	&:last-child {
		.career__block {
			&::after {
				display: none;
			}
		}
	}
}

.career__block {
    padding: 20px;
	width: 330px;
	border: 1px solid #dddddd;
	display: inline-block;
	position: relative;
	text-align: left;
    border-radius: 10px;
    
    &:hover{
        background-color: $blue;
        color:#fff;
        .career__year{
            color: #000;
        }
    }

	&:before, &:after {
		content: "";
		display: block;
		width: 1px;
		background: #dddddd;
		position: absolute;
		left: -30px;
	}

	&:before {
		top: 0;
		bottom: 50%;
		margin-bottom: 10px;
	}

	&:after {
		bottom: -22px;
		top: 50%;
		margin-top: 10px;
	}
}

.career__year {
	position: absolute;
	right: 100%;
	top: 50%;
	line-height: 30px;
	margin-top: -15px;
	margin-right: 45px;

	&:after {
		content: "";
		width: 10px;
		height: 10px;
		background: $blue;
		border-radius: 50%;
		position: absolute;
		right: -20px;
		top: 50%;
		margin-top: -5px;
		z-index: 1;
	}
}
.career__block{
    &:hover{
        .career__year {
            &:after{
                border: 5px solid #94e0f2;
                right: -26px;
                margin-top: -10px;
            }
        }
    } 
}
.about_h1{
    font-size: 35px;
    line-height: 1.286;
    padding: 0 0 15px 0;
    margin: -5px 0px;
}
.career{
    
    .about__pic{
        border-radius: 20px;
        height: 100%;
    }
}
.nav__link-span{
    padding-left: 5px;
    font-size: 18px;
    line-height: 24px;
}
.career{
    .about__left {
        width: 240px;
        float: left;
        border: none;
        .about__pic-img{
            width: 220px;
            height: 220px;
        }
    }

    .about__right {
	    width: 400px;
	    float: right;
    }
}

