@import "_vars";

.content {
	.container {
		@extend %clearfix;
	}
}

.sidebar {
	width: 220px;
	float: left;
}


.page-content {
	width: 700px;
	float: right;
}

.nav__link {
	display: block;
	padding: 10px 20px 10px 0;
	text-align: right;
	border-right: 5px solid transparent;
    text-decoration: none;
    
    &:visited{
        color:#414141;
    }

	&:hover {
		border-color: $blue;
        color:$blue;
	}
}
//
//.nav__link_heart {
//	&:before {
//		font-family: 'FontAwesome';
//		content: "\f21e";
//	}
//}

.nav__link-text {
	display: inline-block;
	padding: 4px 0 4px 20px;
}

.nav__link_heart {
	.nav__link-text {
		background: url('/img/icons/person.png') 0 center no-repeat;
	}
}
.nav__item_active{
    border-color: $blue;
    .nav__link-span{
        color:$blue;
    }
    .fa-university{
        color:$blue;
    }
}
/* --------- about --------- */

.about {
	@extend %clearfix;
}

.about__left {
	width: 290px;
	float: left;
}

.about__right {
	width: 400px;
	float: right;
}


.about__pic {
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
	display: inline-block;
	width: 220px;
	height: 220px;
}

.about__pic-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.title {
	font-size: 35px;
	color: $black;
	margin-bottom: 20px;
}

.about__desc {
	p {
		font-size: 18px;
		color: #646464;
		margin-top: 0;
		margin-bottom: 15px;
	}

	h1 {

	}

	h2 {

	}
}
/* --------- career --------- */

.career__item {
	text-align: right;
	margin-bottom: 20px;

	&:first-child {
		.career__block {
			&:before {
				display: none;
			}
		}
	}

	&:last-child {
		.career__block {
			&::after {
				display: none;
			}
		}
	}
}

.career__block {
    padding: 20px;
	width: 330px;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	text-align: left;
    border-radius: 10px;
    
    &:hover{
        background-color: $blue;
        color:#fff;
        .career__year{
            color: #000;
        }
    }

	&:before, &:after {
		content: "";
		display: block;
		width: 1px;
		background: #dddddd;
		position: absolute;
		left: -30px;
	}

	&:before {
		top: 0;
		bottom: 50%;
		margin-bottom: 10px;
	}

	&:after {
		bottom: -22px;
		top: 50%;
		margin-top: 10px;
	}
}

.career__year {
	position: absolute;
	right: 100%;
	top: 50%;
	line-height: 30px;
	margin-top: -15px;
	margin-right: 45px;

	&:after {
		content: "";
		width: 10px;
		height: 10px;
		background: $blue;
		border-radius: 50%;
		position: absolute;
		right: -20px;
		top: 50%;
		margin-top: -5px;
		z-index: 1;
	}
}
.career__block{
    &:hover{
        .career__year {
            &:after{
                border: 5px solid #94e0f2;
                right: -26px;
                margin-top: -10px;
            }
        }
    } 
}
.about_h1{
    font-size: 35px;
    line-height: 45px;
    padding: 0 0 10px 0;
    margin: 0;
}
.career{
    
    .about__pic{
        border-radius: 20px;
        height: 100%;
    }
}
.nav__link-span{
    padding-left: 5px;
}
