.header {
	background: #fff;
	@include box-shadow(0 1px 3px 0 rgba(#000, .2));
	@extend %clearfix;
	@include fira(bold);
	margin-bottom: 30px;
}

.header__left, .header__right {
	float: left;
	width: 50%;
}

.header__right {
	text-align: right;

}

.contacts__link {
	color: $blue;
	text-decoration: none;
	font-size: 18px;
	background: url('/img/decor/dot.png') 0 bottom repeat-x;

	&:hover {

	}
}

.contacts {
	@extend %clearfix;
}

.user__avatar {
	@include inlineblock(middle);
	width: 50px;
	height: 50px;
	background: #ccc;
}

.user__username {
	@include inlineblock(middle);
}




